[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
transformers = "*"
sentence-transformers = "*"
openai = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pypdf2 = "*"
python-multipart = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.13"
