[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-jose = "*"
bcrypt = "*"
pymongo = "*"
pydantic-settings = "*"
python-dotenv = "*"
httpx = "*"
jinja2 = "*"
python-multipart = "*"
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"