name: CI

on:
    push:
        branches: ["main"]
        paths:
            - "app/**"
    pull_request:
        paths:
            - "app/**"

jobs:
    test-backend:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: 3.13

            - name: Install dependencies (caching)
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cache/pip
                  key: ${{ runner.os }}-backend-pip-${{ hashFiles('backend/requirements.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-backend-pip-

            - name: Install backend Python packages
              working-directory: ./web-app
              run: |
                  pip install -e .

            - name: Run pytest
              working-directory: ./web-app
              run: |
                  pytest --maxfail=1 --disable-warnings -q
