name: Deploy ML Service

on:
    push:
        branches: ["main"]
        paths:
            - "service/**"

jobs:
    deploy-service:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Log in to DOCR
              env:
                  DO_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
              run: echo "$DO_TOKEN" | docker login registry.digitalocean.com -u doctl --password-stdin

            - name: Build amd64 image for ML service
              working-directory: ./service
              run: |
                  docker buildx build \
                    --platform linux/amd64 \
                    -t registry.digitalocean.com/charlot-project/ml-service:latest \
                    .

            - name: Push ML service image
              run: docker push registry.digitalocean.com/charlot-projecet/ml-service:latest
