name: Deploy to DigitalOcean App Platform

on:
    workflow_run:
        workflows: ["CI"]
        types:
            - completed

jobs:
    deploy:
        if: >
            ${{ github.event.workflow_run.conclusion == 'success' &&
                github.event.workflow_run.head_branch == 'main' }}

        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Install doctl
              run: |
                  curl -sL https://github.com/digitalocean/doctl/releases/latest/download/doctl-$(uname -s)-amd64.tar.gz \
                  | tar -xzv
                  sudo mv doctl /usr/local/bin

            - name: Authenticate
              run: doctl auth init -t ${{ secrets.DIGITALOCEAN_API_TOKEN }}

            - name: Deploy App
              run: |
                  doctl apps update ${{ secrets.DO_APP_ID }} --spec do-app.yaml
